<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>vaishnav</title>
</head>
<body>
    <h1>hello shu</h1>
    <a href="/login"><button type="button" class="btn btn-primary">Login</button></a>
    <a href="/register"> <button type="button" class="btn btn-primary">Register</button></a>
   

</body>
</html>